[Unit]
Description=QLC+ auto-start
After=network.target graphical.target

[Service]
ExecStart=/usr/bin/qlcplus -o /home/maurizio/.qlcplus/impianti/ImpiantoBaiaPasqua2025.qxw
User=pi
Environment=DISPLAY=:0
Restart=on-failure

[Install]
WantedBy=graphical.target
