[Unit]
Description=QLC+ auto-start
After=network.target graphical.target

[Service]
ExecStart=/home/maurizio/.qlcplus/SystemFiles/scripts/start-qlcplus.sh
User=maurizio
Environment=DISPLAY=:0
Restart=on-failure

[Install]
WantedBy=graphical.target
